* {
	box-sizing: border-box;
	margin: 0;
}
body {
	font-family: 'Gayathri', sans-serif;
	padding: 50px 0;
}
.text-center {
	text-align: center;
}
.project-wrapper h1 {
	font-size: 45px;
	color: #39074e;
}
.project-wrapper p {
	color: #707070;
	font-size: 24px;
}
.project-wrapper h3 {
	font-size: 32px;
	color:  #4a4a4a;
	padding-top: 30px;
}
#passionate p {
	width: 55%;
	margin: auto;
	margin-top: 20px;
}
.flex-container {
	display: flex;
	padding: 50px 80px;
}
.flex-item {
	width: 33.33%;
}
.flex-item div {
	border: 1px solid #707070;
	margin: 0 20px;
	padding: 0 0 30px 0;
	height: 500px;
}
.flex-item a {
	text-decoration: none;
}
.flex-item a:hover div{
	background:  #39074e;
	color: #fff;
}
.flex-item a:hover h3,
.flex-item a:hover p {
	color: #fff;
}
.img-responsive {
	max-width: 100%;
	height: auto;
}
.project-div p {
	width: 70%;
	margin: auto;
	margin-top: 20px;
}

/* for smaller screens */
@media only screen and (max-width: 700px) {
	.flex-container {
	    display: block;
	    padding: 0;
	}
	.flex-item{
		width: auto;
	}
	.flex-item div {
	    margin-bottom: 20px;
	    height: auto;
	}
	#passionate p {
    	width: 90%;
    	margin-bottom: 30px;
    }
}
@media only screen and (min-width: 701px) and (max-width: 900px) {
	.flex-container {
	   padding: 0;
	}
	.project-div p {
	    width: 85%;
	}
}