@import '../../styles/footer.css';
@import '/styles/partners.css';

/* 
    primary color: #7b1fa2;
    primary light color: #e1bee7
*/

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;

}

a {
    text-decoration: none;
    color: inherit;
}


html {
    /* // This defines what 1 rem is 10px */
    font-size: 62.5%;   
    /* //1 rem = 10px;  10px/16px = 62.5% */
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    background: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

::selection {
    background-color: #7b1fa2;
    color: #fff;
}

h2 {
    text-transform: uppercase;
    color: #7b1fa2;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.container {
    width: 100%;   
}

.clear {
    clear: both;
}

/* 
//////////////////////////////////////////////////////////////
HEADER SECTION 
//////////////////////////////////////////////////////////////
*/

header {
    width: 100%;
}

.top {
    height: 8rem;
    width: 100%;
    background: #fff;
    padding: 0 5rem;
}

.logo {
    float: left;    
}

.logo img {
    height: 12.5rem;
    width: auto;
    padding-bottom: 3rem
}

.big-hero {
    height: 85vh;
    background-image: 
    url(../img/ancora-home_big.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.big-hero--content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.big-hero--content h2 {
    color: #fff ;
    font-size: 5.5rem;
    font-weight: 700;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .8);
    transition: .4s all;
}

.big-hero--content h2:hover {
    background-image: linear-gradient(to right,#441558,  #e1bee7);
    -webkit-background-clip: text;
    color: transparent;
}

.big-hero--content p {
    color: #fff;
    background-color: #441558;
    padding: 1.5rem;
    font-size: 1.6rem;
    border-radius: .3rem;
}

#gapB4Image {
    margin: 1em;
}

@media only screen and (max-width: 600px) {
    .big-hero--content p  { 
        font-size: 1.3rem;
        line-height: 1.8rem;
    }
}



.big-hero--content h3 {
    color: #441558;
    background-color: #fff;
    padding: 1.2rem;
    display: inline-block;
    margin-top: 1rem;
    border-radius: .3rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s all;
}

.big-hero--content h3:hover {
    transform: scale(1.1);
}



.heading-primary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right,#7b1fa2,  #e1bee7);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
}

.heading-primary:hover {
    transform: skewY(.5deg) skewX(5deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(0,0,0, .2);
}

nav {
   float: right;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
    padding-top: 2.5rem;   
    list-style-type: none; 
}

nav a {
    color: #892eaf;
    text-transform: uppercase;   
    text-decoration: none; 
    font-weight: 500;
    transition: .5s all;
}

nav a:hover {
    text-decoration: underline;
    color: #7b1fa2;
    font-weight: 600;
}

.active {
    text-decoration: underline;
    color: #7b1fa2;
    font-weight: 600;
}


.donate {
    background-image: linear-gradient(to right,#7b1fa2,  #2d0135);
    box-shadow: .1rem .2rem .3rem rgba(0, 0, 0, .7);
    color: #fff;
    padding: 1.2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.donate:hover {
    background-image: linear-gradient(to right,#9138b8,  #5f126d);
    transform: scale(1.1);
    color: #fff;
    text-decoration: none;
}


/* 
//////////////////////////////////////////////////////////////
Donate Page 
//////////////////////////////////////////////////////////////
*/
.donate-hero {
    height: 85vh;
    background-image: linear-gradient(99deg, rgba(255,255,255, .8) 0%, rgba(255,255,255, .8) 50%, transparent 50%), url(../img/ancora-donation.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0, .2);
    
    position: relative;
}



.donate-hero--content {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.donate-hero--content p {
    font-size: 2rem;
    line-height: 3rem;
}
.donate-hero--content a {
    width: 50%;
    display: inline-block;
    text-align: center;
    font-size: 3rem;    
    margin-top: 2rem;
    
}

@media only screen and (max-width: 1480px) {
    .donate-hero {
        background-image: linear-gradient(99deg, rgba(255,255,255, .8) 0%, rgba(255,255,255, .8) 60%, transparent 60%), url(../img/ancora-donation.jpg);        
    }
    .donate-hero--content {
        left: 30%;
    }
}

@media only screen and (max-width: 1130px) {
    .donate-hero {
        background-image: linear-gradient(99deg, rgba(255,255,255, .8) 0%, rgba(255,255,255, .8) 100%, transparent 100%), url(../img/ancora-donation.jpg);        
    }
    .donate-hero--content {
        left: 50%;
        width: 80%;
    }

    .donate-hero--content a {
        font-size: 2.5rem;  
        
    }
}

/* 
//////////////////////////////////////////////////////////////
ABOUT US SECTION 
//////////////////////////////////////////////////////////////
*/

.about-section {
    width: 80%;
    margin: 0 auto;
    padding-top: 5rem;
}

.about-section--text {
    float: left;
    width: 50%;
}

.about-section--text p {
    line-height: 5rem;
    text-align: justify;
    font-size: 2rem;
    color: gray;
}



.about-section--photo {   
   float: left;
   padding-top: 4.5rem;
   width: 48%;
}

.about-section--photo img {
    width: 85%;
    height: auto;
    border-radius: .8rem;
    text-align: center;
    
}

@media only screen and (max-width: 900px) {
    .about-section--text p { 
        line-height: 3rem;
    }

    .about-section--photo img {
        width: 100%; 
    }
}

@media only screen and (max-width: 760px) {
    .about-section--text, .about-section--photo  { 
        width: 100%
    }
}


/* 
//////////////////////////////////////////////////////////////
APPLY SECTION 
//////////////////////////////////////////////////////////////
*/

.apply-section {
    background-color: #e1bee7;
    height: 20rem;
    position: relative;
    margin-top: 5rem;
    width: 100%;
}

.apply-section--text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -50%);
   
}

.apply-section h2 {
    font-size: 3rem;
    display: inline;
}

@media only screen and (max-width: 900px) {
    .apply-section h2 {
        font-size: 2.5rem;
        
    }
}

@media only screen and (max-width: 770px) {
    .apply-section h2 {
        font-size: 2rem;
        
    }
}

.apply-section span {
    background-image: linear-gradient(to right,#7b1fa2,  #2d0135);
    box-shadow: .1rem .2rem .3rem rgba(0, 0, 0, .7);
    color: #fff;
    font-size: 2rem;
    padding: 1.2rem;
    border-radius: .8rem;
    margin-left: 3rem;
    cursor: pointer;
    display: inline-block;
    transition: .3s all ease-in-out;
}

.apply-section span:hover{
    background-image: linear-gradient(to right,#9138b8,  #5f126d);
    transform: scale(1.1);
}

.apply-section span a {
    color: inherit;
    text-decoration: none;
}


/* 
//////////////////////////////////////////////////////////////
PARTNERS SECTION 
//////////////////////////////////////////////////////////////
*/

.partners-section {
    background-color: #fff;
    margin: 0 auto;
    padding: 6rem 0;
    position: relative;
    text-align: center;
}

.partners-section h2 {
    font-size: 2.5rem;
    display: inline-block;
    margin-right: 15rem;
}

.partners-section img {
    width: 15rem;
    text-align: center;
    vertical-align: middle;
    margin-right: 6rem;
}



@media only screen and (max-width: 900px) {
    .partners-section img {
        margin-right: 3rem;
        
    }
}

@media only screen and (max-width: 768px) {
    .partners-section img {
        margin-right: 2rem;   
    }
    
}

.partners-section .second img {
    margin-top: 3rem;  
    
}


/* 
//////////////////////////////////////////////////////////////
CONTACT US SECTION 
//////////////////////////////////////////////////////////////
*/

.contact-section {
    background: url(../img/contact_page.jpg) no-repeat;
    background-size: cover;
    height: 120vh;
    position: relative;
}

/* 
//////////////////////////////////////////////////////////////
FORM COMPONENT 
//////////////////////////////////////////////////////////////
*/

.contact-section--form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    width: 50%;
    padding: 2rem;
    background-image: linear-gradient(to right,#dcb7ec,  #7b1fa2); 
    opacity: .85;
    box-shadow: .1rem .2rem .4rem rgba(0, 0, 0, .8);
}


@media only screen and (max-width: 900px) {
    .contact-section--form {
       width: 75%;
        transform: translate(-50%, -50%);        
    }

}

@media only screen and (max-width: 700px) {
    .contact-section--form {
       width: 90%;
        transform: translate(-50%, -50%);
        
    }
}

.contact-section--form h2 {
    text-shadow: .1rem .1rem .1rem rgba(255, 255, 255, .9);
}

.contact-section--form h2:hover {
    transform: none;
}

.form__group:not(:last-child) {
        margin-bottom: 2rem;
}

.form__input {
    font-size: 1.5em;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255,255,255, .5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%; 
    display: block;
    transition: all .3s;
}

.form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .1);
    border-bottom: 3px solid #7b1fa2;
}

.form__input:focus:invalid {
    border-bottom: 3px solid #441558;
}

.form__input::-webkit-input-placeholder {
    color: #272727;
}

.form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
}

.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}


.btn,
.btn:link,
.btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: inherit;    
        color: #7b1fa2;
        /* // Change for the <button> element */
        border: none;
        cursor: pointer;
    }

.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn:active,
.btn:focus {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    }
/* 
//////////////////////////////////////////////////////////////
FOOTER SECTION 
//////////////////////////////////////////////////////////////
*/



footer {
   
    /* background-color: #441558; */
    /* height: 20vh; */
    /* margin-top: -5rem; */
}

















 .mobile-nav {
     display: none;
    overflow: hidden;
    background-color: #fff;
    position: relative;
  }
  
   #mobileLinks {
    display: none;
    background-image: linear-gradient(to right, #7b1fa2, #dcb7ec); 
    opacity: .8;
    color: whitesmoke;
    padding: 3.5rem;
  }

#mobileLinks li {
    padding-top: 2.5rem;   
    list-style-type: none; 
    cursor: pointer;
    
}

#mobileLinks a {
    color: #fff;
    text-transform: uppercase;   
    text-decoration: none; 
    font-weight: 200;
    transition: .5s all;
}



#mobileLinks a:hover {
    border-bottom: dotted purple thin;
    font-weight: 400;
}
  
  .mobile-nav a {
    color: white;    
    text-decoration: none;
    font-size: 17px;
    display: block;
    
  }
  
  .mobile-nav a.icon {
    background: #7b1fa2;
    display: block;
    position: absolute;
    padding: 14px 16px;
    right: 5%;
    top: 50%;
    transform: translate(-20%, -50%);
  }

  .mobile-nav a img {
      width: 16rem;
  }
  

  @media only screen and (max-width: 760px) {
    
    .mobile-nav {
        display: block;
    }

    .top {
        display: none;
    }
}

 