@import "compass/css3";
body {
    background-color: #E1BEE7;
    text-align: center;
    font-family: 'Gayathri',sans-serif,Helvetica, sans-serif;
    min-width: 320px;
  }

  header h2 {
    text-align: center;
    margin-top: 3rem;
  }
  .button {
    background-color: #7B1FA2;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 96px;
    margin: 10px;
    border: 0px solid;
    cursor: pointer;
  }
  .button:hover{
    background-color: rgb(13, 1, 19);
  }
  .border{
    padding: 5px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #E1BEE7;
    border-radius: 9px;
  }
  .frame{border:5px solid #7B1FA2;
  	padding:5px;}
#form-outer {
    background-color: rgba(255, 255, 255, 0.89);
    margin: 0 auto;
    border-radius: 4px;
    width: 85%;
    max-width: 900px;
    padding: 10px;
    padding-top: 20px;
}
.radio, .checkbox {
    position: relative;
    left: -43px;
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;
}
.labels {
    width: 70%;
    text-align: left;
  }
.leftTab {
    display: inline-block;
    text-align: right;
    width: 40%;
  }
   .rightTab {
    display: inline-block;
    text-align: left;
    width: 40%;
    vertical-align: middle;
  }
  .input-field {
    height: 30px;
    width: 50%;
    padding: 5px;
    margin: 5px;
    border: 0.5px solid #E1BEE7;
    border-radius: 7px;
  }
  .input-field2{
    height: 30px;
    width: 70%;
    padding: 5px;
    margin: 10px;
    border: 0.5px solid #E1BEE7;
    border-radius: 9px;
  }
 
  .parentprofile,
input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}
  .childprofile,
input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}
  .dropdown {
    height: 35px;
    width: 55%;
    padding: 5px;
    margin: 10px;  
    margin-top: 15px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
}
.rowTab{    
	padding: 10px 10px 10px 10px;
	}

/* smaller screens*/
  @media screen and (max-width: 520px) {
    .leftTab {
      width: 100%;
      text-align: left;
    }
    .rightTab {
      width: 100%;
      float: left;
    }
    .input-field {
      width: 100%;
    }
}
@media screen and (max-width: 833px) {
    .input-field {
      width: 80%;
    }
    select {
      width: 90%;
    }
  }
  #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #7B1FA2;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #E1BEE7;
}