@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Slabo 27px', sans-serif;

}

body{
    background-image: url(https://res.cloudinary.com/dx12zaip6/image/upload/v1567227243/background_id88rg.jpg);
    background-size: cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
    
       
       


        
}

.contact-us {
    width: 400px;
    background: #7B1FA2;
    margin: 30px right;
    padding: 40px;
    border-radius: 30px;
    height: 400px;
    margin-left: auto;
    margin-top: 1rem;
    margin-right: 5rem;
    

}
.title h1{
    margin-bottom: 25px;
    text-align: center;
}

.form,
.form-item{
    width: 100%;
}

.form-item .input{
    width: 100%;
    margin-bottom: 12px;
    padding: 10px 30px;
    box-sizing: border-box;
    background: white;
    outline: none;
    border-radius: 15px;
    
}
.form-item .input.message{
    margin-bottom: 30px;
    padding: 5px;
    height: 120px;
}
.btn{
    background: #E1BEE7;
    text-align: center;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
}
.logo{
    background-color: #7B1FA2;
    height: 80px;
    border: #7B1FA2;
    padding-right: 100rem;
    margin-top: 1rem;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
  
}

