@import './footer.css';

#partners-main {
  background-color: #fff;
  width: 100%;
  height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 0;
}

section {
	width: 90%;
	height: 100%;
  margin: 0 auto;
}

img {
	width: 14em;
	height: 14em;
}

.nouveau-schools {
	margin-top: 3em;
	width: 14;
	height: 8em;
}

#chrisland {
	margin-left: -4em;
}

.flex1 {
  width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
}

.flexp {
  color: #7B1FA2;
  font-size: 4em;
	font-weight: bold;
	flex: 2;
	align-self: center;
	text-align: left;
	margin-left: 2em;
	margin-bottom: 1em;
}

.flex-item1 {
	width: 22%;
	height: 15em;
	flex: 1;
	align-items: center;
}

.flex2 {
  width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
}

.flex-item2 {
	width: 22%;
	height: 15em;
	flex: 1;
	align-items: center;
}