body{
    margin: 0;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7B1FA2;
}

ul.nav li {float: left;
 margin: 4px }

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav li a:hover:not(.active) {background-color: #E1BEE7 ;}

ul.nav li a.active {background-color: #E1BEE7;}

ul.nav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.nav li.right, 
    ul.nav li {float: none;}
}
.img{
    float: left;
    position: relative;
    margin: 10px 100px 10px 50px;
    width: 100px;
    height: 60px;
}

a:hover{
    background-color: purple;
    color: white;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.content{
    background-color: green;
    height: 500px;
    background-image: url(image/first.jpg);
    background-repeat: no-repeat;
    background-size: 1400px 600px;
    resize: both;  
    max-width: 100%; 
}
.container{
    width: 100%;
    margin-top: 100px;
}
.about-us{
    text-align: center;
    color: purple;
    margin-top: 120px;
    font-size: 30px;
    letter-spacing: 10px;
    line-height: 10px;
}
.par{
    line-height: 50px;
    margin-left: -30px;
}
.img-fluid{
    height: 350px;
}
.apply{
    background-color: rgb(212, 186, 236);
    width: 1500px;
    margin-left: -200px;
    margin-top: -80px;
    height: 250px;
}
.col-md-12{
    background-color: rgb(212, 186, 236);
} 
.know{
    color: purple;
    margin-left: 30px;
    padding-top: 100px;
    text-align:center;
}
.know-btn{
    color: white;
    background-color: purple;
    font-size: 20px;
    border-color: purple;
    padding: 15px;
    border-radius: 9px;
    margin-left: 50px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.row{
    background: #39074e;
	padding: 10px 30px 100px 30px;
	color: #fff;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px #7B1FA2;
}
* {
    box-sizing: border-box;
}
.our {
	font-size: 45px;
	padding: 10px 0px;
	text-align: center;
	background: #39074e;
	color: #fff;
}
.anchor {
  font-family: Arial, Helvetica, sans-serif;
	background-image: url("../images/first.jpg");
	background-repeat: no-repeat, no-repeat;
	background-size: 100%;
	background-position: left top, right top;  
	padding:0px ;
	height:700px; 
} 
.anchor h1,h4 {
	color: #fff;
	text-align: center;
	padding:20px 0px;

}
.anchor button {
	color: purple;
    font-size: 15px;
    background-color: white;
    margin-left: 600px;
    margin-top: 0px;
    padding: 15px;
    border-color: white;
    border-radius: 15px;
}
footer {
  background-color: #7B1FA2;
  padding: 5px;
  text-align: center;
  color: white;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 3%;
	overflow: hidden;
	z-index: 999;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/move-top.png) no-repeat 0px 0px;
}