body{
    margin: 0;
    padding: 0;
}
nav{
    float: left;
    /* margin: 50px; */
    overflow:hidden;
    text-align: center;
    margin-top: 50px;
    margin-left: 600px;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
}
.img{
    float: left;
    position: relative;
    margin: 0px 0px 0px 50px;
    width: 200px;
    height: 200px;
}
nav > ul > li > a{
    color: rgb(82, 0, 158);
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
}
a:hover{
    background-color: purple;
    color: white;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.content{
    background-color: green;
    height: 500px;
    background-image: url(image/first.jpg);
    background-repeat: no-repeat;
    background-size: 1400px 600px;
    resize: both;  
    max-width: 100%; 
}
.girl{
    max-width: 100%;
}
.text{
    margin-top: -300px;
    color: white;
}
#class{
    background-color: blueviolet;
    padding: 25px;
    margin-left: 500px;
    margin-top: -20px;

}
.child{
    color: purple;
    font-size: 15px;
    background-color: white;
    margin-left: 650px;
    margin-top: 40px;
    padding: 15px;
    border-color: white;
    border-radius: 15px;
}
.h1{
    margin-left: 650px;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.container{
    width: 2000px;
    margin-top: 100px;
}
.about-us{
    text-align: center;
    color: purple;
    margin-top: 120px;
    font-size: 30px;
    letter-spacing: 10px;
    line-height: 10px;
}
.par{
    line-height: 50px;
    margin-left: -30px;
}
.img-fluid{
    height: 350px;
}
.apply{
    background-color: rgb(212, 186, 236);
    width: 1500px;
    margin-left: -200px;
    margin-top: -80px;
    height: 250px;
}
.col-md-12{
    background-color: rgb(212, 186, 236);
} 
.know{
    color: purple;
    margin-left: 30px;
    padding-top: 100px;
}
.know-btn{
    color: white;
    background-color: purple;
    font-size: 20px;
    border-color: purple;
    padding: 15px;
    border-radius: 9px;
    margin-left: 50px;
}

.contact-container{
    background-color: purple
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.row{
    background: #39074e;
	padding: 10px 30px 100px 30px;
	color: #fff;}




